@charset "UTF-8";
/* CSS Document */
* {
	padding:0;
	margin:0;
	border:none;
}

body {
	padding:40px;
	background-size:fill;
	background-image:url("../Images/Vapourewasdfe.png")
	
}

#banner {
	width:auto;
	height:80px;
	padding-left: 36px;
	padding-right: 36px;
}

#navigation {
	width:auto;
	word-spacing:40px;
	border-top-width:2px;
	border-top-style:solid;
	text-align:right;
	border-color:#524848;
	padding-right:50px;
	padding-bottom:30px;
	background-image:url("../Images/Vapourewasdfe.png")
}
#links {
	padding-top: 30px;
}
#pageName {
	float:left
}

#navigation ul li {
	list-style-type:none;
	display:inline;
}

#navigation ul li a {
	font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif' ;
	font-size:18px;
	text-decoration:none;
}
#navigation ul li a:link {
	color:#ADADAD;
}
#navigation ul li a:hover {
	color:rgb(255, 100, 100);
}
#navigation ul li a:visited {
	color:#FFF;
}
#leftColumn {
	background-color: rgba(84,12,119,0.80);
	float:left;
	width:60%;
	padding-left:2%;
	padding-right:2%;
	height:400px;
	outline-color: white;
	outline: 1px solid #B958A5;
	color: white;
	font-family: Rockwell;
	font-size: 16px;
	text-align: center;
	
}
#text {
	text-align:center; 
	font-family: Rockwell; 
	color:rgba(187,187,187,1.00);
	padding:30px;
}

#rightColumn {
	float:left;
	width:36%;
	height:400px;
	background-color:white;
	outline:1px solid #FF5677;
}
#footer {
	padding-top:100px
}

img {
 max-height: 100%;
 max-width: 150%;
 object-fit: cover
}
.banner {
 height:149px;
 width: 1344px;
}
a {
  box-shadow: inset 0 0 0 0 #FFFFFF;
  color: #EF3600;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .6s ease-in-out;
}
a:hover {
  box-shadow: inset 100px 0 0 0 #EF3600;
  color: white;
}
#smoke {
	opacity:5%;
	max-height:100px;
	max-width:100px
}
#texts{
		text-align:center; 
	font-family: Rockwell; 
	color:rgba(187,187,187,1.00);
	padding:50px;
}
